<form class="form-horizontal">

  <div class="form-group" *ngFor="let feature of features">

    <label [attr.data-for]="feature" class="col-sm-2 control-label">{{feature.name}}</label>
    <div class="col-sm-10" [ngSwitch]="feature.type">

      <!-- Boolean -->
      <oc-boolean-configurator *ngSwitchWhen='"BooleanValue"' [feature]="feature" [products]="pcmContainer.pcm.products.array"></oc-boolean-configurator>

      <!-- Integer -->
      <input *ngSwitchWhen='"IntegerValue"' [min]="feature.min" [max]="feature.max" [value]="feature.min" type="number" class="form-control">
      <input *ngSwitchWhen='"IntegerValue"' [min]="feature.min" [max]="feature.max" [value]="feature.max" type="number" class="form-control">

      <!-- Real -->
      <input *ngSwitchWhen='"RealValue"' type="number" class="form-control">

      <!-- Default -->
      <select *ngSwitchDefault [id]="feature" class="form-control" multiple>
        <option *ngFor="let content of uniqueValues(feature)">{{content}}</option>
      </select>

    </div>

  </div>

</form>
