
<div class="row">

  <div class="col-md-4" *ngIf="pcmContainer">
    <h3>{{pcmContainer.pcm.name}}</h3>

    <div>
      <div class="form-group">
        <label for="xAxis">X axis</label>
        <select id="xAxis" [ngModel]="xAxis" (ngModelChange)="changeXAxis($event)" class="form-control">
          <option *ngFor="let feature of numericalFeatures" [ngValue]="feature">{{feature.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="yAxis">Y axis</label>
        <select id="yAxis" [ngModel]="yAxis" (ngModelChange)="changeYAxis($event)" class="form-control">
          <option *ngFor="let feature of numericalFeatures" [ngValue]="feature">{{feature.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="size">Size</label>
        <select id="size" [ngModel]="size" (ngModelChange)="changeSize($event)" class="form-control">
          <option *ngFor="let feature of numericalFeatures" [ngValue]="feature">{{feature.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="color">Color</label>
        <select id="color" [ngModel]="color" (ngModelChange)="changeColor($event)" class="form-control">
          <option *ngFor="let feature of numericalFeatures" [ngValue]="feature">{{feature.name}}</option>
        </select>
      </div>
    </div>



  </div>

  <div id="chart" class="col-md-8 oc-chart"></div>


</div>

<div class="row" *ngIf="productHover">
  <strong>{{pcmApi.getProductsKey(productHover, pcmContainer.pcm.productsKey)}}</strong>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Feature</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feature of pcmContainer.pcm.features.array">
      <td>{{feature.name}}</td>
      <td>{{pcmApi.findCell(productHover, feature).content}}</td>
    </tr>
    </tbody>
  </table>

</div>

