<h3 *ngIf="pcmContainer">{{pcmContainer.pcm.name}}</h3>

<div class="row">
  <div class="col-md-3">
    <oc-configurator [pcmContainer]="pcmContainer"></oc-configurator>
  </div>

  <div class="col-md-9">
    <div class="row">
      <oc-product-chart [pcmContainer]="pcmContainer" (selectedProduct)="changeSelectedProduct($event)"></oc-product-chart>
    </div>
    <div class="row">
      <oc-product-details [pcmContainer]="pcmContainer" [product]="selectedProduct"></oc-product-details>
    </div>
  </div>


</div>



